@import '../../@theme/styles/themes';

@include nb-install-component() {
  .grid-element {
    background: nb-theme(background-basic-color-1);
    border: solid 1px nb-theme(background-basic-color-4);

  }

  .error-message {
    margin-top: 0.5rem;
    color: #e02f2c;
    font-family: nb-theme(text-caption-font-family);
    font-size: nb-theme(text-caption-font-size);
    font-weight: nb-theme(text-caption-font-weight);
    line-height: nb-theme(text-caption-line-height);
  }

  #input-email, #input-password {
    border: 1px solid nb-theme(border-basic-color-1);
  }

  #input-email:focus, #input-password:focus {
    border: 1px solid nb-theme(color-success-focus-border);
  }
}

