<div class="header-container">
  <div class="logo-container">
    <a
      href="#"
      class="sidebar-toggle"
      matRipple
      [matRippleUnbounded]="true"
      [matRippleCentered]="true"
      (click)="toggleSidebar()"
    >
      <nb-icon [icon]="(materialTheme$ | async) ? 'menu-outline' : 'menu-2-outline'"></nb-icon>
    </a>
    <a class="logo" href="#" (click)="navigateHome()">{{appName}}</a>
  </div>
  <nb-select
    status="primary"
    matRipple
    [selected]="currentTheme"
    (selectedChange)="changeTheme($event)"
  >
    <nb-option
      *ngFor="let theme of themes"
      [value]="theme.value"
      matRipple
    >{{ theme.name }}</nb-option>
  </nb-select>
</div>

<div class="header-container">
  <nb-actions size="small">


    <nb-action
    class="control-item"
    icon="bell-outline"
    badgeText="{{alertBadge}}"
    badgeStatus="danger"
    [nbPopover]="templateRef"
    nbPopoverPlacement="bottom-end"
    nbPopoverAdjustment="noop"
    nbPopoverTrigger="hover"
    (click)="openPopover(true)"
    (mouseleave)="openPopover(false)"></nb-action>
    <ng-template #templateRef>
      <nb-list>
        <nb-list-item *ngFor="let change of notifiedChanges" >{{change}}</nb-list-item>
      </nb-list>
    </ng-template>

    <nb-action
      class="user-action"
      matRipple
      [matRippleUnbounded]="true"
      [matRippleCentered]="true">
      <!-- <nb-user [nbContextMenu]="userMenu"
              [onlyPicture]="userPictureOnly"
              [name]="user?.name || 'Login User'"
              [picture]="user?.picture || '/assets/images/default_avatar.png'"
              nbContextMenuTag="user-auth-menu"> -->
      <nb-user [nbContextMenu]="userMenu"
              [onlyPicture]="userPictureOnly"
              [name]="'John Smith'"
              [picture]="user?.picture || '/assets/images/nick.png'"
              nbContextMenuTag="user-auth-menu">
      </nb-user>
    </nb-action>
  </nb-actions>
</div>
